.bill__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	margin: 1.5rem 2rem;
}

.label__container {
	display: flex;
	justify-content: space-between;
}

.zero-people {
	color: orangered;
	font-size: 1.5rem;
}

label {
	font-size: 1.5rem;
	color: var(--dark-grayish-cyan);
}

.bill__payable[type="number"] {
	border-width: 0;
	appearance: textfield;
	font-family: "Space mono", monospace;
}

.bill__payable {
	font-weight: inherit;
	text-align: end;
	width: 100%;
	background-color: var(--very-light-grayish-cyan);
	padding: 1.2rem;
	font-size: 2rem;
	color: var(--very-dark-cyan);
	border-radius: 8px;
}

.bill__payable:focus {
	border-width: 0;
	outline: 2px solid var(--strong-cyan);
}

.bill__payable::placeholder {
	text-align: end;
	color: var(--very-dark-cyan);
}
